section.about-section
  .wrapper
    .about-section__container
      img.about-section__image-left(src="images/about-section-image-left.png" loading="lazy" width="536" height="412" alt="image")
      img.about-section__image-right(src="images/about-section-image-right.png" loading="lazy" width="1448" height="1425" alt="image")
      h2.about-section__title.font-w-black.font-s-37.text-up.text-center
        | «ESTET MODELS» — модельная школа 
        br.no-br
        | международного уровня
      .about-section__body
        img.about-section__img(src="images/about-section-img.jpg" loading="lazy" width="1141" height="1017" alt="image")
        .about-section__body-text.font-s-20
          | Школа модельного искусства для детей и подростков «ESTET MODELS» была 
          br.no-br-xxl
          | открыта в 2022 году моделью и финалисткой конкурса «Мисс Россия» 
          br.no-br-xxl
          | Елизаветой Ефремовой.
          br
          br
          | Мы обучаем детей и подростков по международным стандартам и маркетам, 
          br.no-br-xxl
          | развиваем творческие навыки и способствуем продвижению учеников. Это 
          br.no-br-xxl
          | позволяет моделям работать по всему миру, наши выпускники участвуют в 
          br.no-br-xxl
          | самых масштабных показах и снимаются для журналов Vogue Италия, Dolce 
          br.no-br-xxl
          | Испания, Lo’ammi Лос-Анджелес и др.
          br
          br
          | Новым партнерам мы передадим готовую бизнес-модель, которая позволит 
          br.no-br-xxl
          | открыть собственную модельную школу уже через 14 дней после подписания 
          br.no-br-xxl
          | договора. В дальнейшем вы можете рассчитывать на нашу помощь и поддержку 
          br.no-br-xxl
          | на всех этапах сотрудничества.
      .about-section__bottom
        .about-section__bottom-title.font-w-black.font-s-26.text-up
          | Всегда рады ответить на ваши вопросы по франшизе!
        form.about-section__form(data-feedback-form)
          textarea.input.input--secondary.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
          .about-section__form-group
            input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
            input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
            button.btn.btn--secondary(type="submit") Задать вопрос команде
