.section-line
section.city-section
  .wrapper
    .city-section__container
      img.city-section__logo(src="images/header-logo.png" loading="lazy" width="474" height="474" alt="logo")
      h2.city-section__title.font-w-black.font-s-37.text-up
        | Откройте собственную 
        br.no-br
        | модельную школу 
        br.no-br
        | с франшизой «ESTET MODELS»
      .city-section__sub-title.font-s-24
        | и зарабатывайте от 140 000 рублей 
        br
        | чистой прибыли ежемесячно
      .city-section__bottom
        .city-section__bottom-right
          img.city-section__bottom-icon(src="images/city-section-bottom-icon.png" loading="lazy" width="615" height="538" alt="image")
          .font-s-18
            | Проверьте, свободен 
            br.no-br
            | ли ваш город для работы
        form.city-section__form(data-feedback-form)
          input.input(type="text" name="city" autocomplete="off" placeholder="Название города")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn(type="submit") проверить
      img.city-section__img(src="images/city-section-img.png" loading="lazy" width="1459" height="1562" alt="image")
