header.header
  .header__container
      .header__text
        .font-w-emp-regular.font-s-18 БИКМАТУР
        .font-w-elp-regular.font-s-16 Франшиза магазина сувениров и подарков
      img.header__logo(src="images/header-logo.png" loading="lazy" width="232" height="166" alt="logo")
      .header__connection
        include ../components/phone-number.pug
        //- .header__call-me.font-w-emp-regular.font-s-15(data-remodal-target="modal-form-call-me") обратный звонок

        //- .header__connection-number
        //- a(href="tel:+70000000000")
        //-   img.header__connection-icon(src="images/connection-icon.svg" loading="lazy" width="44" height="44" alt="icon")
