section.support-section
  .wrapper
    .support-section__container
      h2.support-section__title.font-w-bold.font-s-56.text-up
        span.color-pink Примеры 
        | наших работ
      .swiper-support
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide.support-cards-width-large
            img.support-section__card-img(src="images/support-section-card-img-1.jpg" loading="lazy" width="960" height="714" alt="icon")
          .support-section__card.swiper-slide.support-cards-width-medium
            img.support-section__card-img(src="images/support-section-card-img-2.jpg" loading="lazy" width="760" height="714" alt="icon")
          .support-section__card.swiper-slide.support-cards-width-small
            img.support-section__card-img(src="images/support-section-card-img-3.jpg" loading="lazy" width="560" height="714" alt="icon")
          .support-section__card.swiper-slide.support-cards-width-small
            img.support-section__card-img(src="images/support-section-card-img-4.jpg" loading="lazy" width="560" height="714" alt="icon")
          .support-section__card.swiper-slide.support-cards-width-medium
            img.support-section__card-img(src="images/support-section-card-img-5.jpg" loading="lazy" width="760" height="714" alt="icon")
          .support-section__card.swiper-slide.support-cards-width-large
            img.support-section__card-img(src="images/support-section-card-img-6.jpg" loading="lazy" width="960" height="714" alt="icon")
        .support-pagination.swiper-progress-support
