section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-w-black.font-s-37.text-up
      | НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
      | ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-s-28
      | Мы свяжемся с Вами в ближайшее время
    a.btn.btn--secondary(href="index.html") Вернуться на главную
